<header>
    <nav class="color">
        <h1>07 57 35 55 18</h1>
         <h2> Contactez-nous sur</h2>
         <div>
           
            <div>
                <a href=""><img src="whatsapp.png" alt="Logo whatsapp" ></a>
              <a href="https://www.facebook.com/profile.php?id=100086391506037&locale=fr_FR"><img src="facebook.png" alt="Logo facebook" ></a>
                <a href="https://www.facebook.com/profile.php?id=100086391506037&locale=fr_FR"><img src="insta.png" alt="Logo instagramme" ></a>
                
                
            </div>
            
         </div>
     </nav>
    <nav>
        <img src="koba1.png" alt="koba1" >
        <div>
            <a routerLink = "" >Accueil</a>
            <a   routerLink="services">Nos services</a>
            
        </div>
    </nav>
</header>

