
    <footer>
        <div class="loca">
            Localisation
            <ul>
                Marcory annoumabo<br>
               Abidjan <br>
               Cote d'Ivoire
               
            </ul>
            
        </div>
       
       <h2> Contactez-nous sur</h2>
        <div>
            <a href=""><img src="whatsapp.png" alt="Logo whatsapp" ></a>
          <a href="https://www.facebook.com/profile.php?id=100086391506037&locale=fr_FR"><img src="facebook.png" alt="Logo facebook" ></a>
            <a href="https://www.facebook.com/profile.php?id=100086391506037&locale=fr_FR"><img src="insta.png" alt="Logo instagramme" ></a>
            
            
        </div>
    </footer>
