<div class="card-container">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img  style="height: 500px ; width: 500px" src="porte10.jpeg" class="d-block w-250" alt="...">
        </div>
        <div class="carousel-item">
          <img style="height:  500px ; width: 500px"  src="porte1.jpeg" class="d-block w-250" alt="...">
        </div>
        <div class="carousel-item">
          <img style="height:  500px ; width: 500px"  src="porte2.jpeg" class="d-block w-250" alt="...">
        </div>
        <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="porte3.jpeg" class="d-block w-250" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="porte4.jpeg" class="d-block w-250" alt="...">
          </div>
        
          <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="porte5.jpeg" class="d-block w-250" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="porte6.jpeg" class="d-block w-250" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="porte7.jpg" class="d-block w-250" alt="...">
          </div>
        
          <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="porte8.jpg" class="d-block w-250" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="porte9.jpg" class="d-block w-250" alt="...">
          </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
     <div>
    
    
    </div>
    
    </div>
    <div class="titre-description"> <h1>Portail</h1></div> 
    <div class="description"> 
      
      <ul>Les portes métalliques sont réputées pour leur solidité, leur durabilité et leur aspect moderne. <br> Elles sont souvent choisies pour les entrées principales, les locaux techniques ou les bâtiments industriels, <br> mais elles peuvent également trouver leur place dans les habitations pour apporter une touche contemporaine.</ul>
    </div>
    
    
