<div class="card-container">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img  style="height: 500px ; width: 500px" src="escalier2.jpeg" class="d-block w-250" alt="...">
        </div>
        
        <div class="carousel-item">
          <img style="height:  500px ; width: 500px"  src="escalier3.jpeg" class="d-block w-250" alt="...">
        </div>
        <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="escalier4.jpeg" class="d-block w-250" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="escalier5.jpeg" class="d-block w-250" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="escalier.jpg" class="d-block w-250" alt="...">
          </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
     <div>
    
    
    </div>
    
    </div>
    <div class="titre-description"> <h1>Rampes d'escalier </h1></div> 
    <div class="description"> 
      
      <ul>Rampes d'escalier : Sécurité et esthétique au service de votre intérieur
        Une rampe d'escalier est un élément essentiel de tout escalier. <br> Elle assure la sécurité des utilisateurs en offrant un appui solide lors de la montée et de la descente des marches. <br>
         Mais au-delà de sa fonction pratique, la rampe est aussi un élément décoratif qui peut apporter une touche personnelle à votre intérieur.</ul>
    </div>
    
    