<div class="card-container">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            
          <img  style="height: 500px ; width: 500px" src="store.jpeg" class="d-block w-250" alt="...">
        </div>
        <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="bache.jpg" class="d-block w-250" alt="...">
          </div>   
        <div class="carousel-item">
          <img style="height:  500px ; width: 500px"  src="store1.jpeg" class="d-block w-250" alt="...">
        </div>
        <div class="carousel-item">
          <img style="height:  500px ; width: 500px"  src="store2.jpeg" class="d-block w-250" alt="...">
        </div>
        <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="store3.jpeg" class="d-block w-250" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="store4.jpeg" class="d-block w-250" alt="...">
          </div>
        
          <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="store5.jpeg" class="d-block w-250" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height:  500px ; width: 500px"  src="store6.jpeg" class="d-block w-250" alt="...">
          </div>
               
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
     <div>
    
    
    </div>
    
    </div>
    <div class="titre-description"> <h1>Store et Balcon Metallique </h1></div> 
    <div class="description"> 
      
      <ul>Les stores et balcons métalliques offrent une solution élégante et durable pour aménager vos extérieurs. <br> Le métal, matériau robuste et résistant aux intempéries, permet de créer des structures à la fois esthétiques et fonctionnelles.</ul>
    </div>
    
    
