



   <div  class="card-container ">
<div class="card">
    <img [src]=" monServices.imageUrl" [alt]="monServices.title" >
    <div class="card-content">
      <h1 class="card-title"> {{ monServices.title }}</h1>
      
      <button (click)="onContinue()" class="card-button"> Lire plus </button>
    </div>
  </div>
  <div class="card">
    <img [src]=" monServices1.imageUrl" [alt]="monServices1.title" >
     <div class="card-content">
       <h1 class="card-title">{{ monServices1.title }}</h1>
       
       <button (click)="onStore()" class="card-button"> Lire plus </button> </div>
   </div>
   <div class="card">
    <img [src]=" monServices2.imageUrl" [alt]="monServices2.title" >
     <div class="card-content">
       <h1 class="card-title">{{ monServices2.title }}</h1>
      
       <button (click)="onEscalier()" class="card-button"> Lire plus </button>
      </div>
   </div>
   <div class="card">
    <img [src]=" monServices3.imageUrl" [alt]="monServices3.title" >
     <div class="card-content">
       <h1 class="card-title">{{ monServices3.title }}</h1>
      
       <button (click)="onPortes()" class="card-button"> Lire plus </button>
           </div>
   </div>
   
  </div>


