<div></div>
<body>
<div  class="card-container ">
<div class="card">
    <img [src]=" monServices.imageUrl" [alt]="monServices.title" >
    <div class="card-content">
      <h1 class="card-title"> {{ monServices.title }}</h1>
      <p class="card-text">{{ monServices.description}}</p>
      <p class="card-text"><small class="text-body-secondary">{{ monServices.createdDate }}</small></p>
      <a routerlink = "singlesservices" class="card-button"> Lire plus </a>
    </div>
  </div>
  <div class="card">
    <img [src]=" monServices1.imageUrl" [alt]="monServices1.title" >
     <div class="card-content">
       <h1 class="card-title">{{ monServices1.title }}</h1>
       <p class="card-text">{{ monServices.description}}</p>
       <p class="card-text"><small class="text-body-secondary">{{ monServices.createdDate }}</small></p>
     
       <a class="card-button"> Lire plus </a> </div>
   </div>
   <div class="card">
    <img [src]=" monServices2.imageUrl" [alt]="monServices2.title" >
     <div class="card-content">
       <h1 class="card-title">{{ monServices2.title }}</h1>
       <p class="card-text">{{ monServices2.description}}</p>
       <p class="card-text"><small class="text-body-secondary">{{ monServices2.createdDate }}</small></p>
       <a class="card-button"> Lire plus </a>
      </div>
   </div>
   <div class="card">
    <img [src]=" monServices3.imageUrl" [alt]="monServices3.title" >
     <div class="card-content">
       <h1 class="card-title">{{ monServices3.title }}</h1>
       <p class="card-text">{{ monServices3.description}}</p>
       <p class="card-text"><small class="text-body-secondary">{{ monServices3.createdDate }}</small></p>
     
       <a class="card-button"> Lire plus </a>      </div>
   </div>
   
  </div>
</body>