<div class="card-container">
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  style="height: 500px ; width: 500px" src="contenaire7.jpg" class="d-block w-250" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height:  500px ; width: 500px"  src="contenaire4.jpeg" class="d-block w-250" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height:  500px ; width: 500px"  src="contenaire6.jpg" class="d-block w-250" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height:  500px ; width: 500px"  src="contenaire5.jpg" class="d-block w-250" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 <div>


</div>

</div>
<div class="titre-description"> <h1>contenaire </h1></div> 
<div class="description"> 
  
  <ul>Un conteneur bureau est un espace de travail aménagé à l'intérieur d'un conteneur maritime standard. <br> Il s'agit d'une solution modulaire, flexible et économique pour créer des bureaux temporaires ou permanents, <br> que ce soit sur un chantier de construction, dans un environnement industriel, ou même comme bureau à domicile.</ul>
</div>
