<body class="body">
  <section class="accueil-introduction">
    <div>
        <h1>Koba feronnerie</h1>
        <p>
            Où <em>professionalisme</em> s’allie avec <em>passion</em>. Depuis
            plus de 5 ans maintenant, j’exerce mon métier avec la passion
            qui m’anime : capturer l’essence de chaque instant.
        </p>
        <a href="" class="cta">UN PROJET ? ÉCRIVEZ-MOI SUR WHATSAPP</a>
    </div>
    <img src="koba1.png" alt="koba1" >
</section>
<section class="accueil-photos">
    <h2>Nos Réalisations</h2>
    <div>
        <img src="contenaire.jpg" alt="contenaire" >
        <img src="bache.jpg" alt="bache" >
        <img src="escalier.jpg" alt="escalier" >
    </div>
    <div>
        <img src="porte.jpg" alt="porte" >
        <img src="porteo.jpg" alt="porte auto" >
        <img src="balcon.jpg" alt="balcon" >
    </div>
</section>
</body>