

<div class="body">
  <section class="accueil-introduction">
    <div>
        <h1>Koba ferronnerie</h1>
        <p>
            KOBA est une entreprise ivoirienne reconnue pour son expertise dans les domaines de  <em>la ferronnerie générale </em>  et de la  <em> sécurité électronique.</em> Forte de <em>  plus de 20 ans d'expérience</em> .L'entreprise propose une gamme complète de prestations répondant aux besoins
            spécifiques de sa clientèle.
        </p>
        <a href="" class="cta">UN PROJET ? ÉCRIVEZ-MOI SUR WHATSAPP</a>
    </div>
    <img src="koba1.png" alt="koba1" >
</section>
<section class="accueil-photos">
    <h2>Nos Réalisations</h2>
    <div>
        <img src="contenaire.jpg" alt="contenaire" >
        <img src="bache.jpg" alt="bache" >
        <img src="escalier.jpg" alt="escalier" >
        
    </div>
    <div>
        <img src="porte.jpg" alt="porte" >
        <img src="porteo.jpg" alt="porte auto" >
        <img src="balcon.jpg" alt="balcon" >
    </div>
</section>
</div>