

<div class="body">
  <section class="accueil-introduction">
    <div>
        <h1>Koba ferronnerie</h1>
        <p>
            KOBA est une entreprise ivoirienne reconnue pour son expertise dans les domaines de  <em>la ferronnerie générale </em>  et de la  <em> sécurité électronique.</em> Forte de <em>  plus de 20 ans d'expérience</em> .L'entreprise propose une gamme complète de prestations répondant aux besoins
            spécifiques de sa clientèle.
        </p>
        <a href="" class="cta">UN PROJET ? ÉCRIVEZ-MOI SUR WHATSAPP</a>
    </div>
    <!-- <a><img src="koba1.png" alt="koba1" ></a> -->
</section>
<section class="accueil-photos">
    <h2>Nos Réalisations</h2>
   
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="row">
          <div class="card">
            <img src="contenaire.jpg" class="card-img-top" alt="...">
          
          </div>
        </div>
        <div class="row">
            <div class="card">
              <img src="porteo.jpg" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="row">
            <div class="card">
              <img src="balcon.jpg" class="card-img-top" alt="...">
              
            </div>
          </div>
        <div class="row">
          <div class="card">
            <img src="bache.jpg" class="card-img-top" alt="...">
          
          </div>
        </div>
        <div class="row">
          <div class="card">
            <img src="escalier.jpg" class="card-img-top" alt="...">
           
          </div>
        </div>
        <div class="row">
          <div class="card">
            <img src="porte.jpg" class="card-img-top" alt="...">
           
          </div>
        </div>
      </div>
</section>
</div>